body {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    font-family: $font-family;
    color: get-colour('white');
    background-color: get-colour('black');
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: none;
}

@each $key, $size in $headings {
    #{$key},
    .#{$key} {
        @include heading($key);
    }
}

strong {
    font-weight: $font-weight-bold;
}

a, .a, .link {
    color: get-colour('green');
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

blockquote {
    font-size: calc-em($blockquote-size, $base-font-size);
    margin: em(40px) 0;
    padding: 0;
    font-weight: $font-weight-bold;
    color: get-colour('white');
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    * {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
textarea {
    font-size: calc-em($base-font-size, $base-font-size);
    font-family: $font-family;
    font-weight: $font-weight-normal;
    color: get-colour('white');
    background: transparent;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid get-colour('white');
    display: block;
    width: 100%;
}

input {
    line-height: 1;
}

textarea {
    resize: vertical;
}

button,
.btn {
    font-size: $base-font-size;
    padding: em(19px) em(56px) em(21px);
    margin: 0;
    line-height: 1;
    border-radius: 500px;
    background: get-colour('green');
    color: get-colour('white');
    text-decoration: none;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    cursor: pointer;
}

hr {
    margin: em(45px) 0;
    border-color: get-colour('grey');
}