.playlist_overlay_background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
  background: rgba(0,0,0,0.5);
}

.playlist_overlay {
  position: absolute;
  width: 90%;
  margin: 5% 5%;
  // height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @media (min-width: 768px) {
    width: 80%;
    margin: 10% 10%;
  }
  
  background-color: #3B3738;
  .playlist_overlay_wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0) -30%,#181818);
    .close {
      position: absolute;
      top: 24px;
      right: 36px;

      transition: .5s;
      cursor: pointer;
      &:hover {
        color: hsla(0,0%,100%,.6);
        transition: .5s;
      }
    }
    header {
      padding: 36px 36px 0;
      display: grid;
      grid-template-columns: 1fr;
      @media (min-width: 768px) {
        padding: 36px 36px 0;
        grid-template-columns: 30% 1fr;
        .meta_box {
          width: 100%;
        }
      }
      img {
        display: block;
        width: 60%;
        padding: 0;
        margin: 48px 20%;
        -webkit-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.25);
        box-shadow: 0px 10px 15px -1px rgba(0,0,0,0.25);
        @media (min-width: 768px) {
          width: 100%;
          margin: 0 auto;
        }
      }
      .meta_box {
        width: 100%;
        text-align: left;
        @media (min-width: 768px) {
          width: 100%;
          padding: 0 48px;
        }
        h2 {
          font-size: 28px;
          line-height: 36px;
          letter-spacing: -.005em;
          text-decoration: underline;
          text-decoration-color: #1DB954;
        }
        h3 {
          color: hsla(0,0%,100%,.6);
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -.005em;
        }
        .playlist_stats {
          padding: 24px 0;
          height: 150px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          > div {
            margin: 0 auto;
            // justify-items: center;
            @media (min-width: 768px) {

              h3 {
                font-size: 1.25rem;
              }
              p {
                font-size: 1rem;
              }
            }
            h3, p {
              text-align: center;
              margin: 4px auto;
              padding: 0;
            }
            h3 {
              font-size: 1rem;
              margin: 0 auto;
              height: 72px;
              width: 72px;
              border: 2px solid #1DB954;
              border-radius: 100%;
              padding: 24px 14px;
              display: grid;
              align-items: center;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .playlist_content {
      padding: 36px 36px 48px;
      h3 {
        margin: 0 auto;
      }
      p {
        margin: 0 auto 18px;
        color: hsla(0,0%,100%,.6);
      }
      .container {
        padding: 8px 0 48px;
      }
      .waffle_graph {
        height: 550px;
        color: rgba(0,0,0,0.5);
      }
    }
  }
}

// react-grid over ride styles
.react-grid-Canvas, .react-grid-Cell, .react-grid-Row, .react-grid-HeaderCell, .react-grid-HeaderRow, .react-grid-Header, .react-grid-Grid, .react-grid-Main, .react-grid-Toolbar, .react-grid-Grid, .react-grid-Container {
  background-color: none !important;
  background: none !important;
  color: hsla(0,0%,100%,.6) !important;
  text-align: left;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.react-grid-Cell, .react-grid-HeaderCell {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  // height: 100% !important;
}
.react-grid-Cell {
  transition: .5s;
  min-width: 0 !important;
  &:hover {
    transition: .5s;
    width: auto !important;
    background-color: #282828 !important;
    z-index: 9999999;
    div {
      div {
        span {
          div {
            transition: .5s;
            color: hsla(0,0%,100%,1) !important;
          }
        }
      }
    }
  }
  div {
    div {
      span {
        div {
          transition: .5s;
          color: hsla(0,0%,100%,.6) !important;
          z-index: 9999999;
        }
      }
    }
  }
}
.react-grid-Row {
  height: 48px !important;
  border-bottom: 1px solid hsla(0,0%,100%,.3);
  display: grid;
  align-items: center;
}
.react-grid-Grid {
  border: none !important;
}
.react-grid-Toolbar {
  border: solid transparent 0px;
  border-width: 0px !important;
  .tools {
    button {
      background: transparent;
      color: white;
    }
  }
}