$colours: (
    'white': #FFFFFF,
    'black': #000000,
    'black-bg': #181818,
    'green': #1DB954,
    'content': #222326,
    'grey': #757575,
    'dark-grey': #3B3738,
    'light-grey': #f6f6f6
);

$font-family: 'Mukta',Helvetica,Arial,sans-serif;
$base-font-size: 16px;
$button-size: 14px;
$blockquote-size: 18px;
$headings: (
    'h1': 40px,
    'h2': 32px,
    'h3': 24px,
    'h4': 18px,
    'h5': 16px,
    'h6': 14px
);

$header-size: 120px;
$subheader-size: 80px;

$nav-link-size: 14px;

$font-weight-normal: 400;
$font-weight-bold: 800;

$sizings: (
    '0': 0px,
    '2': 2px,
    '5': 5px,
    '10': 10px,
    '15': 15px,
    '20': 20px,
    '25': 25px,
    '30': 30px,
    '35': 35px
);

// top, bottom, left, right
$directions: (
    't': top, 
    'b': bottom, 
    'l': left, 
    'r': right
);

$props: ('p': padding, 'm': margin);

$grid-width: 1366px;
$grid-padding: 20px;

$breakpoints: (
    small: 321px,
    medium: 768px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: $grid-width
);

// Component Variables

/* ****************** */
/* Progression Circle */
/* ****************** */
$pc-size: 15rem;
$pc-bg-colour: 'content';
$pc-status-colour: 'green';
$pc-ring-size: 2rem;
$pc-step: 1;
$pc-loops: round(100 / $pc-step);
$pc-increment: 360 / $pc-loops;
$pc-half: round($pc-loops / 2);