// Super Globals
@import "../../../scss/global/index";

// Versus Globals
@import "../assets/scss/style";

.intro {
    color: get-colour('black');
    background: white;
    min-height: calc(100vh - 78px);
    display: flex;
    > .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        > .wrapper {
            width: 100%;
        }
    }
}

.actions {
    margin-top: 50px;
    text-align: center;
    @include breakpoint(medium) {
        margin-top: 100px;
    }
}

.data {
    min-height: 100vh;
}